
<% if @movie != nil %>
<%= form_for [@movie] do |f| %>
<div id="saveRating">
<%= submit_tag "Rating", :value => 0 %>
</div>
<br>
<div id="searchRating">
<%= submit_tag "Rating", :value => 1 %>
<%= image_tag @movie.poster %>
<%= submit_tag "Rating", :value => -1 %>
</div>
<% end %>
<% else %>
<% end %>
