<!-- This is where a user can see the search result and rate the movie - -1 for Bomb, 0 for Bookmark, and 1 for Laud -->
<% if @movie != nil %>

  <div id="saveRating">
    <%= form_for [@movie, @rating] do |f| %>
    <%= f.hidden_field :value, :value => 0 %>
    <%= submit_tag "Save" %>
    <% end %>
  </div>
  <br>
  <div id="searchRating">
    <%= form_for [@movie, @rating] do |f| %>
    <%= f.hidden_field :value, :value => 1 %>
    <%= submit_tag "Laud" %>
    <% end %>
    <%= image_tag @movie.poster %>

    <%= form_for [@movie, @rating] do |f| %>
    <%= f.hidden_field :value, :value => -1 %>
    <%= submit_tag "Bomb" %>
    <% end %>
  </div>

<% else %>
<% end %>
